.receipt{
    width: 100%;
}
.col1{
    width:5%;
}
.col2{
    width:15%;
}
.col3{
    width:5%;
}
.col4{
    width:75%;
}
.tdborderright{
    border-right:black 1px solid;
}
.tdborderleft{
    border-left:black 1px solid;
}
.tdborderbottom{
    border-bottom:black 1px solid;
}
.tdbordertop{
    border-top:black 1px solid;
}
tr{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}